.main-vinyl-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 85vh;
  background-color: rgb(212, 212, 212);
}

.vinyl-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
}

.container-list-element {
  margin: 3vh 5vw;
  font-size: 1.5rem;
  background-color: rgb(255, 255, 255);
  width: 17vw;
  color: rgb(82, 76, 76);
}

.vinyl-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px black solid; */
}

.element-img {
  width: 17vw;
  height: 22vh;
}

.element-header,
.element-main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px 5px;
}

.element-main {
  font-size: 1.3rem;
}

.element-id {
  color: rgb(170, 170, 170);
  font-size: 1rem;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  height: 15vh;
}

.search-box {
  display: block;
  font-size: 1.1rem;
  font-family: inherit;
  background-color: rgba(#fff, 0.5);
  border-radius: 0.5rem;
  border: 2px solid black;
  padding: 1.4rem 2rem;
  transition: all 0.3s;
}
