.main-vinyl-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 85vh;
  /* background-color: #ffffff; */
  background-size: cover;
  background-position: top;
  position: relative;
}

.main-vinyl-list * {
  font-family: "Josefin Sans", sans-serif;
}

/* .main-list-container {
} */

.vinyl-list {
  list-style: none;
  min-height: 30vh;
}

.container-list-element {
  margin-bottom: 20px;
}

.vinyl-element {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: inset 0px 0px 36px -17px rgba(184, 184, 184, 1);
  -moz-box-shadow: inset 0px 0px 36px -17px rgba(184, 184, 184, 1);
  box-shadow: inset 0px 0px 36px -17px rgba(184, 184, 184, 1);
  padding: 20px 10px;
  width: 100%;
}

.vinyl-element:hover {
  background: rgb(0, 0, 0);
}

.list-element-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 33vw;
}

.list-element-date,
.list-element-name,
.list-element-band,
.list-element-id {
  color: rgb(167, 167, 167);
  font-size: 1.5rem;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  height: 15vh;
}

.search-box {
  display: block;
  font-size: 1.1rem;
  /* background-color: inherit;
  border: none;
  border-bottom: 1px solid black;
  outline: none; */
  background-color: rgba(#fff, 0.5);
  -webkit-box-shadow: inset 0px 0px 36px -17px rgba(184, 184, 184, 1);
  -moz-box-shadow: inset 0px 0px 36px -17px rgba(184, 184, 184, 1);
  box-shadow: inset 0px 0px 36px -17px rgba(184, 184, 184, 1);
  border-radius: 0.5rem;
  padding: 1.4rem 2rem;
  transition: all 0.3s;
}

/* 
.vinyl-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
}

.container-list-element {
  margin: 3vh 5vw;
  font-size: 1.5rem;
  background-color: rgb(255, 255, 255);
  width: 17vw;
  color: rgb(82, 76, 76);
}

.vinyl-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.element-img {
  width: 17vw;
  height: 22vh;
}

.element-header,
.element-main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px 5px;
}

.element-main {
  font-size: 1.3rem;
}

.element-id {
  color: rgb(170, 170, 170);
  font-size: 1rem;
} */
