@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background: rgb(233, 233, 233);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  padding: 0px 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 15px 4px;
  background-color: var(--background);
}

.menu-login {
  font-size: 1.3rem;
  font-family: "Josefin Sans", sans-serif;
  outline: none;
  cursor: pointer;
  transition: 0.2s;
  background-color: var(--second-color);
  color: #131515;
}

.menu-login:hover {
  text-decoration: underline;
  color: #131515;
}
