* {
  box-sizing: border-box;
}

.main {
  min-height: 85vh;
}

.main-form {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top;
  position: relative;
}

.form {
  padding: 20px;
  border-radius: 5px;
}

.form-container:not(:last-child) {
  margin-bottom: 2rem;
}

.form_input {
  display: block;
  font-size: 1.1rem;
  font-family: inherit;
  background-color: rgba(#fff, 0.5);
  border-radius: 0.5rem;
  border-bottom: 3px solid transparent;
  border: none;
  padding: 1.4rem 2rem;
  width: 95%;
  transition: all 0.3s;
}

.form_input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}

.form-header-container {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  letter-spacing: 1rem;
  color: #fff;
}

.form-header-text {
  margin-bottom: 4rem;
}

.btn,
.btn:link,
.btn:visited {
  font-family: "Josefin Sans", sans-serif;
  padding: 1.5rem;
  border-radius: 0.5rem;
  transition: all 0.2s;
  width: 95%;
  position: relative;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active,
.btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn-green {
  background-color: rgba(0, 0, 0, 0.397);
  color: #fff;
}

.form-register-link-container {
  color: #fff;
  font-size: 1.3rem;
}

.form-register-link-text {
  font-weight: bold;
}

.error_form_message {
  font-weight: bold;
  color: #fff;
  text-decoration: underline;
  font-size: 1.2rem;
}
