.main-vinyl {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 85vh;
  background-color: rgb(212, 212, 212);
}

.vinyl {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 85vh;
  width: 100vw;
  font-family: "Josefin Sans", sans-serif;
  color: white;
}

.vinyl-left-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  height: 85vh;
  background-size: cover;
  background-position: top;
  position: relative;
}

.vinyl-right-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(37, 37, 37);
  width: 50vw;
  height: 85vh;
}

.vinyl-band {
  font-size: 4.5rem;
}

.vinyl-album {
  font-size: 2.3rem;
}

.vinyl-released {
  font-size: 1.2rem;
}

.vinyl-tacklist {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.4rem;
}

.vinyl-return {
  font-size: 1.2rem;
  /* text-decoration: underline; */
  border: 2px solid #fff;
  padding: 5px;
}

/* .vinyl {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: yellow;
  height: 70vh;
  width: 100vw;
  font-family: "Josefin Sans", sans-serif;
  color: white;
}

.vinyl-band {
  font-size: 3.5rem;
  background-color: blue;
}

.vinyl-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50vw;
}

.vinyl-album {
  font-size: 2.2rem;
  background-color: red;
}

.vinyl-released {
  font-size: 1.2rem;
  background-color: green;
}

.vinyl-img {
  height: 30vh;
}

.vinyl-tacklist {
  font-size: 1.2rem;
  background-color: orange;
}

.vinyl-return {
  font-size: 1.5rem;
  text-decoration: underline;
} */
